.background {
  background: purple;
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}
.entity {
  position: absolute;
}
.coin {
  background: gold;
}
.player {
  background: aquamarine;
}
.end .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  background: gold;
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
